<div>


       <div style="width:680px; height:360px; background-color:yellow;">
       <div  class="carousel">
            <div style="float:left; width:20px;background-color:#ccc;" (click)="prev()">3</div>
            <div style="float:left;width:640px; height:360px; background-color:green; overflow:hidden">
                     
  <div *ngFor="let Youtube of YOUTUBES" class="slides">
      <!-- <span>{{Youtube.title}}</span>
      <span>{{Youtube.url}}</span> -->
      
     <iframe id="ytplayer" type="text/html" width="640" height="360" [src]="('https://www.youtube.com/embed/'+ Youtube.url ) | safe" frameborder="0" allowfullscreen ></iframe>
     
    </div>

                
            </div>
            <div style="float:right; width:20px; background-color:red;" (click)="next()">1</div>
            <div style="clear:both;"></div>
            </div>
       </div> 
</div>