<div  [ngClass]="{'aboutLayout':'true', 'open':'true'}" >
    <h1 class="aboutHeader">ABOUT "</h1>
  
  	<p class="aboutSubHeader">
    Proficient IT professional with 7 years’ experience and a real passion for front-end and mobile application development. Readily embracing cutting-edge technology, gained an in-depth understanding of the main web and mobile platforms. Worked with various domains like Banking, Retail & Health Care. In leading people along with ample opportunities for growth and work with highly technical web and mobile applications.
  	</p>
  	<div class="row">
			<div [ngClass]="{'bdr-left':'true', 'open':'true'}" >
			<img src="./assets/images/umar_small.png"/>
			</div>
			<div class="bdr-right">
			    <p class="para-head">FRONT-END DEVELOPER <i>•</i>&nbsp;&nbsp;WEB ANALYST <i>•</i>&nbsp;&nbsp;UI/UX DESIGNER</p>
			    <p>Extensive experience in design and development of front-end applications using HTML 5/CSS3 Animations/JavaScript technologies and open source libraries like Backbone JS, Angular JS, React JS, Grunt, Gulp, Bower, Jasmine, Karma, Protractor, Maven &amp; Node JS
			    </p>
				<p>An excellent team player with an ability to perform individually, good interpersonal relations, strong communication skills, hardworking and high level of motivation. A quick learner with an aptitude for taking new responsibilities
			    </p>
				<p >Very good experience in team building, grooming and leading development teams to deliver various product features related to application development of Travel, Retail &amp; Banking domains</p>
			    <p class="but-cent"><a href="./assets/images/UmarKathap AbdulAbbas_Fron-End Professional.pdf" class="butdownload" target="_blank">Download Resume &nbsp;<i class="fa fa-download"></i></a></p>
			
			</div>
			<div class="clear"></div>
	</div>
<div class="clear"></div>
	<div class="arrowbtn" (click)="nextComponent()"><span class="fa fa-angle-double-down"></span></div>
<div class="clear"></div>
</div>
<div class="divSpace">&nbsp;</div>