   #aboutLayout{
       border-top:5px solid #29afe2; background: rgba(255, 255, 255, 0.9); height: 100vh;align-content: center;animation-delay:10s; justify-content: center;
   }
    .aboutHeader{
         
         color: #000;
         font-size: bold;
         text-align: center;
    }
    .aboutSubHeader{
        font-size: 18px;
        color: #2a2b2c;
        padding: 0px 20px;
        text-align: justify;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    #scrollDiv{
        
            }
    
    
    .para-head{color:#29afe2!important; font-size:18px; font-weight:600;}
    .row{ display:block; padding-top: 30px;}
    .bdr-left{ margin: 0 auto; text-align: center; width:50%; float: left;}
    .bdr-left img{ width: auto;  height: 250px; border:1px solid #29afe2;  border-radius: 400px; margin-top: 60px;}

    .bdr-right{color:#2a2b2c; font-family: 'Open Sans Condensed', sans-serif;  font-size: 16px;  color:#000; width: 50%; float: left;}
    .bdr-right p { padding: 20px; padding-bottom: 0px;}
    .clear{clear: both;}
    .butdownload{  display: inline-block; padding: 14px 20px 12px; color: #fff; font-size: 14px; line-height: 20px;font-weight: 300; text-transform: uppercase; text-align: center; vertical-align: middle; cursor: pointer; border: none;  background:#29afe2;}
   .but-cent {
    text-align: center;
}
  
   @media only screen and (max-width: 500px) {
   aboutHeader{
         
         color: #000;
         font-size: bold;
         text-align: center;
    }
    .aboutSubHeader{
        font-size: 14px;
        color: #2a2b2c;
        padding: 0px 20px;
        text-align: justify;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    #scrollDiv{
        height: 370px;
        overflow-y: scroll;
        box-shadow: 0 4px 6px -6px #ccc;
            }
    
    
    .para-head{color:#29afe2!important; font-size:18px; font-weight:600;}
    .bdr-left{ margin: 0 auto; text-align: center;}
    .bdr-left img{ width: auto;  height: 150px; border:1px solid #29afe2;  border-radius: 400px;}

    .bdr-right{color:#2a2b2c; font-family: 'Open Sans Condensed', sans-serif;  font-size: 14px;  color:#000; padding:20px}
    .butdownload{  display: inline-block; padding: 14px 20px 12px; color: #fff; font-size: 14px; line-height: 20px;font-weight: 300; text-transform: uppercase; text-align: center; vertical-align: middle; cursor: pointer; border: none;  background:#29afe2;}
   .but-cent {
    text-align: center;
}
}