<div [@flyInOut] style="text-align:center;background: rgba(54, 25, 25, .5); height:100vh; overflow:hidden;">
  about works! 
  <p>
    Proficient IT professional with 7 years’ experience and a real passion for front-end and mobile application development. Readily embracing cutting-edge technology, gained an in-depth understanding of the main web and mobile platforms. Worked with various domains like Banking, Retail & Health Care. In leading people along with ample opportunities for growth and work with highly technical web and mobile applications.
  </p>
</div>
