<div [ngClass]="{'introLayout':'true', 'open':'true'}" >
	<div style=" padding-top:20%;">
			<div class="name-txt-center">
				 <div [ngClass]="{'name-left':'true', 'open':open}"><img src="./assets/images/UMAR_text.png"></div>
				<div [ngClass]="{'name-right':'true','open':open}"><img src="./assets/images/ABBAS_text.png"></div>
				<div class="clear" ></div> 
			</div>
			<div  [ngClass]="{'introTitle':'true', 'open':open}">
				<div class="links">FRONT-END DEVELOPER <i>•</i>&nbsp;&nbsp;WEB Manager/ANALYST <i>•</i>&nbsp;&nbsp;UI/UX</div>
			</div>
			<div [ngClass]="{'arrowbtn':'true', 'open':open}"  (click)="nextComponent()"><span class="fa fa-angle-double-down"></span></div>	
			
	  </div>
	 
			
	
</div>
<app-footer></app-footer>
