 #introLayout{
    border-top:5px solid #29afe2; background: rgba(54, 25, 25, .5); height:100vh;
 }
.name-txt-center div img{ width:400px}
.name-left{ float: left; width:50%; text-align:right;}
.name-right{ float:right; width:50%; }