<div  [@bottom] id="introLayout" class="center">
	<div style=" padding-top:15%;">
			<div class="name-txt-center">
				<div class="name-left"><img src="./assets/images/UMAR_text.png"></div>
				<div class="name-right"><img src="./assets/images/ABBAS_text.png"></div>
				<div class="clear" ></div>
			</div>
			<div class="links">FRONT-END DEVELOPER <i>•</i>&nbsp;&nbsp;WEB ANALYST <i>•</i>&nbsp;&nbsp;UI/UX DESIGNER </div>
	  </div>
	<div class="arrowbtn" (click)="nextComponent()"><span class="fa fa-angle-double-down"></span></div>		
</div>
