<div  [ngClass]="{'skillsLayout':'true', 'open':'true'}" >
  <h1 class="skillsHeader">Skills "</h1>
  <div id="scrollDiv">
          
          <ul class="bar-graph" > 
            <li>
              <p>HTML & CSS</p>
              <div class="bar-wrap"><span class="bar-fill" style="width: 80%;"></span></div>
            </li> 
            <li>
              <p>Javascript</p>
              <div class="bar-wrap"><span class="bar-fill" style="width: 60%;"></span></div>
            </li> 
            <li>
              <p>RWD</p>
              <div class="bar-wrap"><span class="bar-fill"  style="width: 80%;"></span></div>
            </li> 
            <li>
              <p>Adobe</p>
              <div class="bar-wrap"><span class="bar-fill" style="width: 70%;"></span></div>
            </li> 
            <li>
              <p>Node</p>
              <div class="bar-wrap"><span class="bar-fill" style="width: 40%;"></span></div>
            </li> 
          </ul>
  </div>
  <div class="arrowbtn" (click)="nextComponent()"><span class="fa fa-angle-double-down"></span></div>	
</div>
<div class="divSpace">&nbsp;</div>
