   .labLayout{
       border-top:5px solid #29afe2; background: rgba(255, 255, 255, 0.9); height: 100vh;align-content: center;animation-delay:10s; justify-content: center;
   }
    .labLayout.open{
       animation: fadeInUp .5s ease; 
       
   }
    .labHeader{
          font-family: 'Pontano Sans', sans-serif;
         color: #000;
         font-size: bold;
         text-align: center;
    }
    .aboutSubHeader{
        font-size: 18px;
        color: #2a2b2c;
        padding: 0px 20px;
        text-align: justify;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .skillsKI{
        width: 70%;
        margin: 0 auto;
        padding: 10px;
        color:#000;
    }

     .card{
        margin:10px;background-color:#000;box-shadow: 0 0 1em #ccc; 
    }
    .cardInner{
        width: 100%;
    }
    .cardLeft{
        float:left; width:40%; padding:5%; margin:0px auto; text-align:center;
    }
    .cardRight{
        float:left; width:40%; padding:5%; color:#000
    }
.VideoFrame{
    width:920px;
    height:577px;
}
   .videoContainer{
       padding:20px 60px
   }
    .videoContainer p{
  border-left:5px solid #29afe2; color:#000; padding:10px 20px; background-color:#fff; margin-left:10px; margin-right:10px
    }
.info{
    background-color:#29afe2; height:50px; line-height:50px; padding-left:10px 
}

   @media only screen and (max-width: 500px) {
        .videoContainer{
       padding:20px;
   }
    .videoContainer p{
  border-left:5px solid #29afe2; color:#000; padding:10px 20px; background-color:#fff; margin-left:10px; margin-right:10px
    }
.info{
    background-color:#29afe2; height:50px; line-height:50px; padding-left:10px; font-size: 14px;
}
.VideoFrame{
    width:300px;
    height:200px;
}

   
}

  @keyframes fadeInUp { 
from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

