<div  [ngClass]="{'worksLayout':'true', 'open':'true'}" >
  <h1 class="worksHeader">Work "</h1>
    
    <div class="row-4 clearfix" style="color:#000">
    <div class="col-1-4">
         <div class="card">
                      <div class="cardInner">
                      <div class="cardLeft"><img src="./assets/images/angularIcon.png" width="80px"/></div>
                      <div class="cardRight"> 
                     The Profile App covers the core fundamentals of Angular. <br>
                      <a href="https://github.com/umar-abdulabbas/profile" target="_blank">Learn More</a>&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i>          
                      </div>
                      <div class="clear"></div>
                      </div>
                      <div style="background-color:#29afe2; height:50px; line-height:50px; padding-left:10px ">Profile Template</div>
        </div> <!-- Card 1 -->
    </div>
        <div class="col-1-4">

        <div class="card">
                      <div class="cardInner">
                      <div class="cardLeft"><img src="./assets/images/dutch-open-hackathon.jpg" width="120px"/></div>
                      <div class="cardRight"> 
                      Design for Amsterdam Schiphol Airport, passenger hassle-free to reach on time <br>
                      <a href="http://rawgit.com/umar432/Athena/master/index.html" target="_blank">Learn More</a>&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i>          
                      </div>
                      <div class="clear"></div>
                      </div>
                      <div style="background-color:#29afe2; height:50px; line-height:50px; padding-left:10px ">2016 Dutch Open Hackathon</div>
        </div> <!-- Card 1 -->
  </div>
  <div class="col-1-4">
      <div class="card">
                      <div class="cardInner">
                      <div class="cardLeft"><img src="./assets/images/moto.png" width="80px"/></div>
                      <div class="cardRight"> 
                       HTML Framework - Major corporates using Microsoft Mobile OS 6.5 for day to day operations   <br>
                      <a href="https://github.com/umar432/ms65" target="_blank">Learn More</a>&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i>          
                      </div>
                      <div class="clear"></div>
                      </div>
                      <div style="background-color:#29afe2; height:50px; line-height:50px; padding-left:10px ">Microsoft Mobile OS 6.5</div>
        </div> <!-- Card 1 -->
  </div>
  <div class="col-1-4">
              <div class="card">
                      <div class="cardInner">
                      <div class="cardLeft"><img src="./assets/images/html5css3.png" width="100px"/></div>
                      <div class="cardRight"> 
                       SPA – Single Page application design using bootstrap br>
                      <a href="https://github.com/umar432/Framework" target="_blank">SPA</a>&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i>          
                      </div>
                      <div class="clear"></div>
                      </div>
                      <div style="background-color:#29afe2; height:50px; line-height:50px; padding-left:10px ">HTML5/CSS3 Template</div>
          </div> <!-- Card 1 -->
  </div>

</div><!-- /.row -->
 
  <div class="clear"></div>
  <div class="divSpace">&nbsp;</div>
   <div class="arrowbtn animated slideInUp" (click)="nextComponent()"><span class="fa fa-angle-double-down"></span></div>	
   <div class="divSpace">&nbsp;</div>
</div>
 


