<div  [ngClass]="{'worksLayout':'true', 'open':'true'}" >
  <h1 class="worksHeader">Work "</h1>
    
    <div class="row-4 clearfix" style="color:#000">
        <div class="col-1-4" *ngFor="let work of works">
            <div class="card">
                         <div class="cardInner">
                         <div class="cardLeft"><img src="{{work.images}}" width="80px"/></div>
                         <div class="cardRight"> 
                           {{work.smallDesc}}<br>
                         <a href="{{work.linkURL}}" target="_blank">{{work.linkContent}}</a>&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i>          
                         </div>
                         <div class="clear"></div>
                         </div>
                         <div style="background-color:#29afe2; height:50px; line-height:50px; padding-left:10px ">{{work.footerTitle}}</div>
           </div> <!-- Card 1 -->
       </div>
   

</div><!-- /.row -->
 
  <div class="clear"></div>
  <div class="divSpace">&nbsp;</div>
   <div class="arrowbtn animated slideInUp" (click)="nextComponent()"><span class="fa fa-angle-double-down"></span></div>	
   <div class="divSpace">&nbsp;</div>
</div>
 


